.results {
  background: radial-gradient(
    50% 50% at 108% 55%,
    rgba(2, 209, 221, 0.84) 0%,
    rgba(1, 36, 58, 1) 100%
  );
  width: 100%;
  min-width: 1920px;
  min-height: 1080px;
  position: relative;
}

.results .text-wrapper {
  position: absolute;
  top: 177px;
  left: 663px;
  width: 733px;
  font-family: var(--LOL-title-font-family);
  font-weight: var(--LOL-title-font-weight);
  color: #bf913b;
  font-size: var(--LOL-title-font-size);
  letter-spacing: var(--LOL-title-letter-spacing);
  line-height: var(--LOL-title-line-height);
  font-style: var(--LOL-title-font-style);
}

.results .div {
  position: absolute;
  top: 241px;
  left: 813px;
  width: 354px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--LOL-title-font-family);
  font-weight: var(--LOL-title-font-weight);
  color: #ffffff;
  font-size: var(--LOL-title-font-size);
  text-align: center;
  letter-spacing: var(--LOL-title-letter-spacing);
  line-height: var(--LOL-title-line-height);
  font-style: var(--LOL-title-font-style);
}

.results .p {
  position: absolute;
  top: 481px;
  left: 616px;
  width: 828px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--LOL-subtitles-font-family);
  font-weight: var(--LOL-subtitles-font-weight);
  color: #ffffff;
  font-size: var(--LOL-subtitles-font-size);
  letter-spacing: var(--LOL-subtitles-letter-spacing);
  line-height: var(--LOL-subtitles-line-height);
  font-style: var(--LOL-subtitles-font-style);
}

.results .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 634px;
  left: 905px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.results .button-2 {
  position: relative;
  width: fit-content;
  font-family: "Beaufort for LOL-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}
