
/* Add font files for Beaufort for LOL */
@font-face {
  font-family: 'Beaufort for LOL';
  src: url('fonts/beaufort-for-lol.woff2') format('woff2'),
       url('fonts/beaufort-for-lol.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family-beaufort-for-lol: 'Beaufort for LOL', sans-serif;
  --text-rgb-191-145-59: rgba(191, 145, 59, 1);
  --text-white: rgba(255, 255, 255, 1);
}

.text-rgb-191-145-59 {
  color: var(--text-rgb-191-145-59);
}

.text-white {
  color: var(--text-white);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.lol-title {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: normal;
  font-size: 64px;
  letter-spacing: -2%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-191-145-59);
}

.icon-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(179, 179, 179, 1);
  border: none;
  outline: none;
}

.image-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.lol-subtitles {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.page-title-31 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.lol-subtitles {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-191-145-59);
}

.lol-subtitles {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-191-145-59);
}

.text-35 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-36 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.builder-w-o-team-1 {
@media (max-width: 1440px) {
  .builder-w-o-team-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .builder-w-o-team-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
