.daily-build-w {
  overflow: hidden;
  background: radial-gradient(
    50% 50% at 108% 55%,
    rgba(2, 209, 221, 0.84) 0%,
    rgba(1, 36, 58, 1) 100%
  );
  width: 100%;
  min-width: 1920px;
  min-height: 1080px;
  position: relative;
}

.daily-build-w .text-wrapper {
  position: absolute;
  top: 37px;
  left: 40px;
  width: 733px;
  font-family: var(--LOL-title-font-family);
  font-weight: var(--LOL-title-font-weight);
  color: #bf913b;
  font-size: var(--LOL-title-font-size);
  letter-spacing: var(--LOL-title-letter-spacing);
  line-height: var(--LOL-title-line-height);
  font-style: var(--LOL-title-font-style);
}

.daily-build-w .div {
  position: absolute;
  top: 79px;
  left: 1001px;
  width: 641px;
  font-family: var(--LOL-subtitles-font-family);
  font-weight: var(--LOL-subtitles-font-weight);
  color: #bf913b;
  font-size: var(--LOL-subtitles-font-size);
  letter-spacing: var(--LOL-subtitles-letter-spacing);
  line-height: var(--LOL-subtitles-line-height);
  font-style: var(--LOL-subtitles-font-style);
}

.daily-build-w .article-title {
  display: flex;
  flex-direction: column;
  width: 813px;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 118px;
  left: 21px;
}

.daily-build-w .p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--LOL-subtitles-font-family);
  font-weight: var(--LOL-subtitles-font-weight);
  color: #ffffff;
  font-size: var(--LOL-subtitles-font-size);
  letter-spacing: var(--LOL-subtitles-letter-spacing);
  line-height: var(--LOL-subtitles-line-height);
  font-style: var(--LOL-subtitles-font-style);
}

.daily-build-w .image {
  position: absolute;
  top: 150px;
  left: 853px;
  width: 200px;
  height: 400px;
}

.daily-build-w .icon {
  position: absolute;
  width: 75.00%;
  height: 75.00%;
  top: 12.00%;
  left: 11.50%;
}

.daily-build-w .icon-wrapper {
  position: absolute;
  top: 150px;
  left: 1067px;
  width: 200px;
  height: 400px;
}

.daily-build-w .img-wrapper {
  position: absolute;
  top: 150px;
  left: 1280px;
  width: 200px;
  height: 400px;
}

.daily-build-w .image-2 {
  position: absolute;
  top: 150px;
  left: 1493px;
  width: 200px;
  height: 400px;
}

.daily-build-w .image-3 {
  position: absolute;
  top: 150px;
  left: 1707px;
  width: 200px;
  height: 400px;
}

.daily-build-w .image-4 {
  position: absolute;
  top: 223px;
  left: 0;
  width: 350px;
  height: 350px;
}

.daily-build-w .img {
  position: absolute;
  width: 75.00%;
  height: 75.00%;
  top: 11.93%;
  left: 11.93%;
}

.daily-build-w .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 200px;
  height: 80px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 300px;
  left: 401px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .button-2 {
  position: relative;
  width: fit-content;
  font-family: "Beaufort for LOL-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.daily-build-w .text-wrapper-2 {
  position: absolute;
  top: 306px;
  left: 596px;
  width: 219px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--LOL-subtitles-font-family);
  font-weight: var(--LOL-subtitles-font-weight);
  color: #bf913b;
  font-size: var(--LOL-subtitles-font-size);
  text-align: center;
  letter-spacing: var(--LOL-subtitles-letter-spacing);
  line-height: var(--LOL-subtitles-line-height);
  font-style: var(--LOL-subtitles-font-style);
}

.daily-build-w .button-3 {
  display: flex;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 396px;
  left: 426px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .button-4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Beaufort for LOL-Bold", Helvetica;
  font-weight: 700;
  color: #1e1e1e;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.daily-build-w .button-5 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 180px;
  height: 70px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 436px;
  left: 613px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .button-6 {
  position: relative;
  width: fit-content;
  margin-left: -4.00px;
  margin-right: -4.00px;
  font-family: "Beaufort for LOL-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.daily-build-w .text-wrapper-3 {
  position: absolute;
  top: 540px;
  left: 44px;
  width: 296px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--LOL-text1-font-family);
  font-weight: var(--LOL-text1-font-weight);
  color: #ffffff;
  font-size: var(--LOL-text1-font-size);
  letter-spacing: var(--LOL-text1-letter-spacing);
  line-height: var(--LOL-text1-line-height);
  font-style: var(--LOL-text1-font-style);
}

.daily-build-w .button-7 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 562px;
  left: 447px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .button-8 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 524px;
  left: 653px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .image-5 {
  position: absolute;
  top: 600px;
  left: 853px;
  width: 200px;
  height: 400px;
}

.daily-build-w .image-6 {
  position: absolute;
  top: 600px;
  left: 1067px;
  width: 200px;
  height: 400px;
}

.daily-build-w .image-7 {
  position: absolute;
  top: 600px;
  left: 1280px;
  width: 200px;
  height: 400px;
}

.daily-build-w .image-8 {
  position: absolute;
  top: 600px;
  left: 1493px;
  width: 200px;
  height: 400px;
}

.daily-build-w .image-9 {
  position: absolute;
  top: 600px;
  left: 1707px;
  width: 200px;
  height: 400px;
}

.daily-build-w .text-wrapper-4 {
  position: absolute;
  top: 597px;
  left: 91px;
  width: 203px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--LOL-subtitles-font-family);
  font-weight: var(--LOL-subtitles-font-weight);
  color: #bf913b;
  font-size: var(--LOL-subtitles-font-size);
  text-align: center;
  letter-spacing: var(--LOL-subtitles-letter-spacing);
  line-height: var(--LOL-subtitles-line-height);
  font-style: var(--LOL-subtitles-font-style);
}

.daily-build-w .button-9 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 678px;
  left: 445px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .button-10 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 642px;
  left: 653px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .button-11 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 688px;
  left: 21px;
  border-radius: 8px;
  overflow: hidden;
  border: 3px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .button-12 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 688px;
  left: 142px;
  border-radius: 8px;
  overflow: hidden;
  border: 3px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .button-13 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 687px;
  left: 263px;
  border-radius: 8px;
  overflow: hidden;
  border: 3px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .button-14 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 794px;
  left: 445px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .button-15 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 810px;
  left: 21px;
  border-radius: 8px;
  overflow: hidden;
  border: 3px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .button-16 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 810px;
  left: 142px;
  border-radius: 8px;
  overflow: hidden;
  border: 3px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .button-17 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 809px;
  left: 263px;
  border-radius: 8px;
  overflow: hidden;
  border: 3px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .button-18 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: absolute;
  top: 946px;
  left: 503px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.daily-build-w .paragraph {
  position: absolute;
  top: 1200px;
  left: 427px;
  width: 1123px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.daily-build-w .images {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 1350px;
  left: 427px;
}

.daily-build-w .image-10 {
  position: relative;
  width: 624px;
  height: 436px;
  border-radius: 8px;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.daily-build-w .image-11 {
  position: relative;
  width: 624px;
  height: 436px;
  border-radius: 8px;
  background-image: url(./img/image-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.daily-build-w .paragraph-2 {
  position: absolute;
  top: 1500px;
  left: 427px;
  width: 1123px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.daily-build-w .text-wrapper-5 {
  position: absolute;
  top: 1650px;
  left: 0;
  width: 625px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: #000000;
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  font-style: var(--heading-font-style);
}

.daily-build-w .cards {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 1800px;
  left: 0;
}

.daily-build-w .card {
  display: flex;
  flex-direction: column;
  width: 404px;
  height: 434px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.daily-build-w .image-12 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 8px;
  background: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(247, 247, 247, 1) 100%
  );
}

.daily-build-w .copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.daily-build-w .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.daily-build-w .text-wrapper-7 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #828282;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.daily-build-w .navigation-footer {
  position: absolute;
  top: 1950px;
  left: 0;
  width: 1920px;
  height: 264px;
  background-color: #ffffff;
  overflow: hidden;
}

.daily-build-w .items {
  right: 677px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 48px;
}

.daily-build-w .text-wrapper-8 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.daily-build-w .text-wrapper-9 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.daily-build-w .items-2 {
  right: 378px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 48px;
}

.daily-build-w .items-3 {
  right: 80px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 48px;
}

.daily-build-w .text-wrapper-10 {
  position: absolute;
  top: 52px;
  left: 80px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #000000;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  white-space: nowrap;
  font-style: var(--subheading-font-style);
}

.daily-build-w .social-icons {
  position: absolute;
  top: -3023px;
  left: 2321px;
  width: 184px;
  height: 40px;
}

.daily-build-w .divider {
  position: absolute;
  top: -3198px;
  left: 2321px;
  width: 1280px;
  height: 1px;
  object-fit: cover;
}
