.landing-page {
  background: radial-gradient(
    50% 50% at 108% 55%,
    rgba(2, 209, 221, 0.84) 0%,
    rgba(1, 36, 58, 1) 100%
  );
  width: 100%;
  min-width: 1920px;
  min-height: 1080px;
  position: relative;
}

.landing-page .landing-page-title {
  position: absolute;
  top: 33px;
  left: 53px;
  width: 778px;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--LOL-title-font-family);
  font-weight: var(--LOL-title-font-weight);
  color: #bf913b;
  font-size: var(--LOL-title-font-size);
  letter-spacing: var(--LOL-title-letter-spacing);
  line-height: var(--LOL-title-line-height);
  font-style: var(--LOL-title-font-style);
}

.landing-page .page-title {
  display: flex;
  flex-direction: column;
  width: 1179px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 177px;
  left: 53px;
}

.landing-page .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1179px;
  height: 60px;
  margin-top: -1.00px;
  font-family: var(--LOL-subtitles-font-family);
  font-weight: var(--LOL-subtitles-font-weight);
  color: #bf913b;
  font-size: var(--LOL-subtitles-font-size);
  letter-spacing: var(--LOL-subtitles-letter-spacing);
  line-height: var(--LOL-subtitles-line-height);
  white-space: nowrap;
  font-style: var(--LOL-subtitles-font-style);
}

.landing-page .search-bar {
  display: flex;
  max-width: 720px;
  width: 720px;
  height: 86px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 20px 32px;
  position: absolute;
  top: 447px;
  left: 418px;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.landing-page .state-layer {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  margin-top: -1.00px;
  margin-bottom: -1.00px;
}

.landing-page .div {
  position: absolute;
  top: 490px;
  left: 1486px;
  width: 326px;
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Beaufort for LOL-Bold", Helvetica;
  font-weight: 700;
  color: #bf913b;
  font-size: 32px;
  text-align: center;
  letter-spacing: 1.00px;
  line-height: 40px;
}

.landing-page .chevrons-up {
  position: absolute;
  top: 381px;
  left: 1599px;
  width: 100px;
  height: 100px;
}

.landing-page .text-wrapper-2 {
  position: absolute;
  top: 642px;
  left: 46px;
  width: 761px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Beaufort for LOL-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #bf913b;
  font-size: 32px;
  letter-spacing: 1.00px;
  line-height: 40px;
}

.landing-page .v-created-all {
  position: absolute;
  top: 705px;
  left: 23px;
  width: 690px;
  font-family: "Beaufort for LOL-MediumItalic", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 1.00px;
  line-height: 40px;
}

.landing-page .navigation-footer {
  position: absolute;
  top: 838px;
  left: 724px;
  width: 617px;
  height: 224px;
  overflow: hidden;
  border-top-width: 5px;
  border-top-style: solid;
  border-color: #ffffff;
}

.landing-page .text-wrapper-3 {
  position: absolute;
  top: 36px;
  left: 15px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--LOL-text1-font-family);
  font-weight: var(--LOL-text1-font-weight);
  color: #ffffff;
  font-size: var(--LOL-text1-font-size);
  letter-spacing: var(--LOL-text1-letter-spacing);
  line-height: var(--LOL-text1-line-height);
  white-space: nowrap;
  font-style: var(--LOL-text1-font-style);
}

.landing-page .social-icons {
  display: flex;
  width: 39px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 121px;
  left: 80px;
}

.landing-page .buttons-icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: -1.00px;
  border-radius: 4px;
}

.landing-page .icon {
  position: absolute;
  top: 102px;
  left: 23px;
  width: 24px;
  height: 24px;
}

.landing-page .text-wrapper-4 {
  position: absolute;
  top: 103px;
  left: 54px;
  width: 144px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--LOL-text2-font-family);
  font-weight: var(--LOL-text2-font-weight);
  font-style: var(--LOL-text2-font-style);
  color: #ffffff;
  font-size: var(--LOL-text2-font-size);
  letter-spacing: var(--LOL-text2-letter-spacing);
  line-height: var(--LOL-text2-line-height);
  white-space: nowrap;
}

.landing-page .text-wrapper-5 {
  position: absolute;
  top: 142px;
  left: 54px;
  width: 182px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--LOL-text2-font-family);
  font-weight: var(--LOL-text2-font-weight);
  font-style: var(--LOL-text2-font-style);
  color: #ffffff;
  font-size: var(--LOL-text2-font-size);
  letter-spacing: var(--LOL-text2-letter-spacing);
  line-height: var(--LOL-text2-line-height);
  white-space: nowrap;
}

.landing-page .img {
  position: absolute;
  top: 134px;
  left: 15px;
  width: 40px;
  height: 40px;
}

.landing-page .divider {
  position: absolute;
  top: -840px;
  left: 3610px;
  width: 1280px;
  height: 1px;
  object-fit: cover;
}

.landing-page .github {
  position: absolute;
  top: 182px;
  left: 23px;
  width: 24px;
  height: 24px;
}

.landing-page .text-wrapper-6 {
  position: absolute;
  top: 185px;
  left: 55px;
  width: 178px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--LOL-text2-font-family);
  font-weight: var(--LOL-text2-font-weight);
  font-style: var(--LOL-text2-font-style);
  color: #ffffff;
  font-size: var(--LOL-text2-font-size);
  letter-spacing: var(--LOL-text2-letter-spacing);
  line-height: var(--LOL-text2-line-height);
  white-space: nowrap;
}

.landing-page .lol-logo-rendered {
  position: absolute;
  top: 825px;
  left: 1351px;
  width: 555px;
  height: 244px;
  aspect-ratio: 2.27;
  object-fit: cover;
}

.landing-page .button {
  display: flex;
  width: 239px;
  height: 140px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 20px 32px;
  position: absolute;
  top: 219px;
  left: 1530px;
  border-radius: 10px;
  border: 3px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.landing-page .text-wrapper-7 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 62px;
  font-family: "Beaufort for LOL-Heavy", Helvetica;
  font-weight: 400;
  color: #2c2c2c;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 48px;
}
