.landing-page {
  background-color: transparent;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
}

.landing-page .div {
  overflow: hidden;
  background: radial-gradient(
    50% 50% at 108% 55%,
    rgba(2, 209, 221, 0.84) 0%,
    rgba(1, 36, 58, 1) 100%
  );
  width: 1920px;
  height: 1080px;
  position: relative;
}

.landing-page .overlap {
  position: absolute;
  width: 1170px;
  height: 246px;
  top: 836px;
  left: 750px;
}

.landing-page .navigation-footer {
  position: absolute;
  width: 617px;
  height: 246px;
  top: 0;
  left: 0;
  overflow: hidden;
  border-top-width: 5px;
  border-top-style: solid;
  border-color: #ffffff;
}

.landing-page .text-wrapper {
  position: absolute;
  height: 48px;
  top: 34px;
  left: 15px;
  font-family: var(--LOL-text1-font-family);
  font-weight: var(--LOL-text1-font-weight);
  color: #ffffff;
  font-size: var(--LOL-text1-font-size);
  letter-spacing: var(--LOL-text1-letter-spacing);
  line-height: var(--LOL-text1-line-height);
  white-space: nowrap;
  font-style: var(--LOL-text1-font-style);
}

.landing-page .overlap-group {
  position: absolute;
  width: 221px;
  height: 74px;
  top: 100px;
  left: 15px;
}

.landing-page .overlap-group-2 {
  position: absolute;
  width: 221px;
  height: 74px;
  top: 0;
  left: 0;
}

.landing-page .social-icons {
  display: flex;
  width: 39px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 20px;
  left: 65px;
}

.landing-page .buttons-icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: -1.00px;
  border-radius: 4px;
}

.landing-page .text-wrapper-2 {
  position: absolute;
  width: 144px;
  height: 23px;
  top: 0;
  left: 39px;
  font-family: var(--LOL-text2-font-family);
  font-weight: var(--LOL-text2-font-weight);
  font-style: var(--LOL-text2-font-style);
  color: #ffffff;
  font-size: var(--LOL-text2-font-size);
  letter-spacing: var(--LOL-text2-letter-spacing);
  line-height: var(--LOL-text2-line-height);
  white-space: nowrap;
}

.landing-page .text-wrapper-3 {
  position: absolute;
  width: 182px;
  height: 23px;
  top: 39px;
  left: 39px;
  font-family: var(--LOL-text2-font-family);
  font-weight: var(--LOL-text2-font-weight);
  font-style: var(--LOL-text2-font-style);
  color: #ffffff;
  font-size: var(--LOL-text2-font-size);
  letter-spacing: var(--LOL-text2-letter-spacing);
  line-height: var(--LOL-text2-line-height);
  white-space: nowrap;
}

.landing-page .img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 34px;
  left: 0;
}

.landing-page .icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  left: 8px;
}

.landing-page .icon-2 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
}

.landing-page .divider {
  position: absolute;
  width: 1280px;
  height: 1px;
  top: -838px;
  left: 3571px;
  object-fit: cover;
}

.landing-page .github {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 182px;
  left: 23px;
}

.landing-page .text-wrapper-4 {
  position: absolute;
  width: 178px;
  height: 18px;
  top: 182px;
  left: 55px;
  font-family: var(--LOL-text2-font-family);
  font-weight: var(--LOL-text2-font-weight);
  font-style: var(--LOL-text2-font-style);
  color: #ffffff;
  font-size: var(--LOL-text2-font-size);
  letter-spacing: var(--LOL-text2-letter-spacing);
  line-height: var(--LOL-text2-line-height);
  white-space: nowrap;
}

.landing-page .lol-logo-rendered {
  position: absolute;
  width: 555px;
  height: 244px;
  top: 0;
  left: 614px;
  aspect-ratio: 2.27;
  object-fit: cover;
}

.landing-page .page-title {
  display: flex;
  flex-direction: column;
  width: 1179px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 203px;
  left: 79px;
}

.landing-page .p {
  position: relative;
  width: 1179px;
  height: 60px;
  margin-top: -1.00px;
  font-family: var(--LOL-subtitles-font-family);
  font-weight: var(--LOL-subtitles-font-weight);
  color: #bf913b;
  font-size: var(--LOL-subtitles-font-size);
  letter-spacing: var(--LOL-subtitles-letter-spacing);
  line-height: var(--LOL-subtitles-line-height);
  white-space: nowrap;
  font-style: var(--LOL-subtitles-font-style);
}

.landing-page .landing-page-title {
  position: absolute;
  width: 778px;
  height: 97px;
  top: 66px;
  left: 79px;
  font-family: var(--LOL-title-font-family);
  font-weight: var(--LOL-title-font-weight);
  color: #bf913b;
  font-size: var(--LOL-title-font-size);
  letter-spacing: var(--LOL-title-letter-spacing);
  line-height: var(--LOL-title-line-height);
  font-style: var(--LOL-title-font-style);
}

.landing-page .overlap-2 {
  position: absolute;
  width: 326px;
  height: 320px;
  top: 253px;
  left: 1479px;
}

.landing-page .button {
  display: flex;
  width: 239px;
  height: 140px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 20px 32px;
  position: absolute;
  top: 0;
  left: 44px;
  border-radius: 10px;
  border: 3px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.landing-page .text-wrapper-5 {
  position: relative;
  width: 175px;
  height: 62px;
  font-family: "Beaufort for LOL-Heavy", Helvetica;
  font-weight: 400;
  color: #2c2c2c;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 48px;
}

.landing-page .text-wrapper-6 {
  position: absolute;
  width: 326px;
  height: 116px;
  top: 204px;
  left: 0;
  font-family: "Beaufort for LOL-Bold", Helvetica;
  font-weight: 700;
  color: #bf913b;
  font-size: 32px;
  text-align: center;
  letter-spacing: 1.00px;
  line-height: 40px;
}

.landing-page .chevrons-up {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 132px;
  left: 113px;
}

.landing-page .text-wrapper-7 {
  position: absolute;
  width: 761px;
  height: 63px;
  top: 585px;
  left: 39px;
  font-family: "Beaufort for LOL-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #bf913b;
  font-size: 32px;
  letter-spacing: 1.00px;
  line-height: 40px;
}

.landing-page .v-created-all {
  position: absolute;
  width: 715px;
  top: 663px;
  left: 17px;
  font-family: "Beaufort for LOL-MediumItalic", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 1.00px;
  line-height: 40px;
}

.landing-page .search-bar {
  display: flex;
  max-width: 720px;
  width: 720px;
  height: 86px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 20px 32px;
  position: absolute;
  top: 399px;
  left: 231px;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid;
  border-color: #653a1b;
  box-shadow: var(--button-shadow);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(222, 200, 128, 1) 8%,
    rgba(222, 197, 118, 1) 35%,
    rgba(191, 145, 59, 1) 65%,
    rgba(142, 96, 42, 1) 94%
  );
}

.landing-page .state-layer {
  display: flex;
  align-items: center;
  padding: 4px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.landing-page .input {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.landing-page .trailing-elements {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: -1px;
  left: 604px;
}

.landing-page .element-trailing-icon {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.landing-page .content {
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
}

.landing-page .icon-wrapper {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.landing-page .icon-3 {
  position: relative;
  width: 24px;
  height: 24px;
}
