
/* Add font files for Beaufort for LOL */
@font-face {
  font-family: 'Beaufort for LOL';
  src: url('fonts/beaufort-for-lol.woff2') format('woff2'),
       url('fonts/beaufort-for-lol.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family-beaufort-for-lol: 'Beaufort for LOL', sans-serif;
  --text-white: rgba(255, 255, 255, 1);
  --text-rgb-191-145-59: rgba(191, 145, 59, 1);
  --text-rgb-44-44-44: rgba(44, 44, 44, 1);
  --text-rgb-39-39-39: rgba(39, 39, 39, 1);
}

.text-white {
  color: var(--text-white);
}

.text-rgb-191-145-59 {
  color: var(--text-rgb-191-145-59);
}

.text-rgb-44-44-44 {
  color: var(--text-rgb-44-44-44);
}

.text-rgb-39-39-39 {
  color: var(--text-rgb-39-39-39);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.lol-text1 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.buttons-icon-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 4px;
}

.social-icons-4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 6.372549019607843%;
}

.icon-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(191, 145, 59, 1);
  border: none;
  outline: none;
}

.icon-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.lol-text2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.lol-text2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.icon-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(191, 145, 59, 1);
  border: none;
  outline: none;
}

.icon-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.buttons-icon-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 4px;
}

.social-icons-10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 6.535947712418301%;
}

.divider-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: none;
  outline: none;
}

.icon-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(1, 36, 58, 1);
  border: none;
  outline: none;
}

.github-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(191, 145, 59, 1);
}

.lol-text2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.navigation-footer-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-top: 5px solid rgba(255, 255, 255, 1);
}

.lol-subtitles {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-191-145-59);
}

.page-title-18 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.lol-title {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: normal;
  font-size: 64px;
  letter-spacing: -2%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-191-145-59);
}

.text-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-44-44-44);
}

.button-21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px 32px 20px 32px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 12.447916666666666%;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  border: 3px solid rgba(102, 58, 27, 1);
  border-radius: 10px;
}

.text-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-191-145-59);
}

.node-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.icon-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 4px solid rgba(191, 145, 59, 1);
  border: none;
  outline: none;
}

.chevrons-up-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-191-145-59);
}

.text-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.lol-text2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-beaufort-for-lol);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-39-39-39);
}

.input-31 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 20px 0px 20px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 98.78048780487805%;
}

.icon-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(39, 39, 39, 1);
  border: none;
  outline: none;
}

.icon-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.state-layer-36 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.content-35 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 100px;
}

.1st-trailing-icon-34 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.trailing-elements-33 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.state-layer-30 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: -16px;
  padding: 4px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 91.11111111111111%;
}

.search-bar-29 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px 32px 20px 32px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 37.5%;
  max-width: 720px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  border: 3px solid rgba(102, 58, 27, 1);
  border-radius: 10px;
}

.landing-page-1 {
@media (max-width: 1440px) {
  .landing-page-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .landing-page-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
