
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exported Figma Design</title>
  
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="node-1">
<div class="search-bar-2">
<div class="state-layer-3">
<div class="leading-icon-4">
<div class="content-5">
<div class="state-layer-6">
<div class="icon-7">
<img src="images/icon-8.svg" class="icon-8" alt="icon" />
</div>
</div>
</div>
</div>
<div class="input-9">
<p class="lol-text2"><span class="text-rgb-39-39-39">Search your favourite champion</span></p>
</div>
<div class="trailing-elements-11">
<div class="1st-trailing-icon-12">
<div class="content-13">
<div class="state-layer-14">
<div class="icon-15">
<img src="images/icon-16.svg" class="icon-16" alt="icon" />
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="keyboard-input-17">
<div class="property-1-a-18">
<p class="text-19"><span class="text-white">A</span></p>
</div>
<div class="property-1-a-20">
<p class="text-21"><span class="text-white">a</span></p>
</div>
<div class="property-1-b-22">
<p class="text-23"><span class="text-white">B</span></p>
</div>
<div class="property-1-b-24">
<p class="text-25"><span class="text-white">b</span></p>
</div>
<div class="property-1-c-26">
<p class="text-27"><span class="text-white">C</span></p>
</div>
<div class="property-1-c-28">
<p class="text-29"><span class="text-white">c</span></p>
</div>
<div class="property-1-d-30">
<p class="text-31"><span class="text-white">D</span></p>
</div>
<div class="property-1-d-32">
<p class="text-33"><span class="text-white">d</span></p>
</div>
<div class="property-1-e-34">
<p class="text-35"><span class="text-white">E</span></p>
</div>
<div class="property-1-e-36">
<p class="text-37"><span class="text-white">e</span></p>
</div>
<div class="property-1-f-38">
<p class="text-39"><span class="text-white">F</span></p>
</div>
<div class="property-1-f-40">
<p class="text-41"><span class="text-white">f</span></p>
</div>
<div class="property-1-g-42">
<p class="text-43"><span class="text-white">G</span></p>
</div>
<div class="property-1-g-44">
<p class="text-45"><span class="text-white">g</span></p>
</div>
<div class="property-1-h-46">
<p class="text-47"><span class="text-white">H</span></p>
</div>
<div class="property-1-h-48">
<p class="text-49"><span class="text-white">h</span></p>
</div>
<div class="property-1-i-50">
<p class="text-51"><span class="text-white">I</span></p>
</div>
<div class="property-1-i-52">
<p class="text-53"><span class="text-white">i</span></p>
</div>
<div class="property-1-j-54">
<p class="text-55"><span class="text-white">J</span></p>
</div>
<div class="property-1-j-56">
<p class="text-57"><span class="text-white">j</span></p>
</div>
<div class="property-1-k-58">
<p class="text-59"><span class="text-white">K</span></p>
</div>
<div class="property-1-k-60">
<p class="text-61"><span class="text-white">k</span></p>
</div>
<div class="property-1-l-62">
<p class="text-63"><span class="text-white">L</span></p>
</div>
<div class="property-1-l-64">
<p class="text-65"><span class="text-white">l</span></p>
</div>
<div class="property-1-m-66">
<p class="text-67"><span class="text-white">M</span></p>
</div>
<div class="property-1-m-68">
<p class="text-69"><span class="text-white">m</span></p>
</div>
<div class="property-1-n-70">
<p class="text-71"><span class="text-white">N</span></p>
</div>
<div class="property-1-n-72">
<p class="text-73"><span class="text-white">n</span></p>
</div>
<div class="property-1-o-74">
<p class="text-75"><span class="text-white">O</span></p>
</div>
<div class="property-1-o-76">
<p class="text-77"><span class="text-white">o</span></p>
</div>
<div class="property-1-p-78">
<p class="text-79"><span class="text-white">P</span></p>
</div>
<div class="property-1-p-80">
<p class="text-81"><span class="text-white">p</span></p>
</div>
<div class="property-1-q-82">
<p class="text-83"><span class="text-white">Q</span></p>
</div>
<div class="property-1-q-84">
<p class="text-85"><span class="text-white">q</span></p>
</div>
<div class="property-1-r-86">
<p class="text-87"><span class="text-white">R</span></p>
</div>
<div class="property-1-r-88">
<p class="text-89"><span class="text-white">r</span></p>
</div>
<div class="property-1-s-90">
<p class="text-91"><span class="text-white">S</span></p>
</div>
<div class="property-1-s-92">
<p class="text-93"><span class="text-white">s</span></p>
</div>
<div class="property-1-t-94">
<p class="text-95"><span class="text-white">T</span></p>
</div>
<div class="property-1-t-96">
<p class="text-97"><span class="text-white">t</span></p>
</div>
<div class="property-1-u-98">
<p class="text-99"><span class="text-white">U</span></p>
</div>
<div class="property-1-u-100">
<p class="text-101"><span class="text-white">u</span></p>
</div>
<div class="property-1-v-102">
<p class="text-103"><span class="text-white">V</span></p>
</div>
<div class="property-1-v-104">
<p class="text-105"><span class="text-white">v</span></p>
</div>
<div class="property-1-w-106">
<p class="text-107"><span class="text-white">W</span></p>
</div>
<div class="property-1-w-108">
<p class="text-109"><span class="text-white">w</span></p>
</div>
<div class="property-1-x-110">
<p class="text-111"><span class="text-white">X</span></p>
</div>
<div class="property-1-x-112">
<p class="text-113"><span class="text-white">x</span></p>
</div>
<div class="property-1-y-114">
<p class="text-115"><span class="text-white">Y</span></p>
</div>
<div class="property-1-y-116">
<p class="text-117"><span class="text-white">y</span></p>
</div>
<div class="property-1-z-118">
<p class="text-119"><span class="text-white">Z</span></p>
</div>
<div class="property-1-z-120">
<p class="text-121"><span class="text-white">z</span></p>
</div>
<div class="property-1-122">
<p class="text-123"><span class="text-white">'</span></p>
</div>
<div class="property-1-default-124">
<div class="blinking-cursor-125">
</div>
</div>
</div>
<div class="blinking-cursor-127">
<div class="property-1-cursor-on-128">
<img src="images/vector-1-129.svg" class="vector-1-129" alt="vector-1" />
</div>
<div class="node-130">
</div>
</div>
<div class="search-bar-132">
<div class="property-1-default-133">
<div class="state-layer-134">
<div class="input-135">
<p class="lol-text2"><span class="text-rgb-39-39-39">Search your favourite champion</span></p>
</div>
<div class="trailing-elements-137">
<div class="1st-trailing-icon-138">
<div class="content-139">
<div class="state-layer-140">
<div class="icon-141">
<img src="images/icon-142.svg" class="icon-142" alt="icon" />
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="property-1-active-143">
<div class="state-layer-144">
<div class="input-145">
<div class="keyboard-input-146">
<div class="keyboard-input-147">
<div class="blinking-cursor-148">
<img src="images/vector-1-149.svg" class="vector-1-149" alt="vector-1" />
</div>
</div>
</div>
</div>
<div class="trailing-elements-150">
<div class="1st-trailing-icon-151">
<div class="content-152">
<div class="state-layer-153">
<div class="icon-154">
<img src="images/icon-155.svg" class="icon-155" alt="icon" />
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="blinking-cursor-156">
<img src="images/vector-1-157.svg" class="vector-1-157" alt="vector-1" />
</div>
</div>

</body>
</html>
